.w-md-editor-toolbar li button {
    font-size: 16px !important; /* Adjust button text size */
    padding: 10px !important; /* Adjust button padding */
}

.w-md-editor-toolbar {
    height: 50px !important; /* Adjust toolbar height */
}